$path: '../vendors/lgdcom-icons/fonts';

@font-face {
	font-family: 'lgdcom-icons';
	src:url('#{$path}/lgdcom-icons.eot?-bwraut');
	src:url('#{$path}/lgdcom-icons.eot?#iefix-bwraut') format('embedded-opentype'),
		url('#{$path}/lgdcom-icons.woff?-bwraut') format('woff'),
		url('#{$path}/lgdcom-icons.ttf?-bwraut') format('truetype'),
		url('#{$path}/lgdcom-icons.svg?-bwraut#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

%font-defaults {
	font-family: 'lgdcom-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin lgd-icon($icon) { 
  @if $icon == logo {
      content: "\e601";
      @extend %font-defaults;
  }
  @else if $icon == housing {
      content: "\e600";
      @extend %font-defaults;
  }
  @else {
      content: $icon;
      @extend %font-defaults;
  }
}